@model List<LakeshoreHotelApp.Models.Room>

@{
    ViewData["Title"] = "Details";
}


<h1>List of Your Reservations for @User.Identity.Name</h1>
<h3>Total Reservations: @Model.Count</h3>
<button>
    <a asp-action="Create" asp-area="Reservation">Make a new Reservation</a>
</button>

<div>
    <h4>Reservations</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model[0].RoomNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model[0].RoomType)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model[0].BedSize)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model[0].ReservationStart)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model[0].ReservationEnd)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
            <tr>
                <td>
                    @room.RoomNumber
                </td>
                <td>
                    @room.RoomType
                </td>
                <td>
                    @room.BedSize
                </td>
                <td>
                    @room.ReservationStart
                </td>
                <td>
                    @room.ReservationEnd
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@room.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@room.Id">Delete</a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>